@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,100,300,400&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	padding: 0px;
	margin: 0px;
	background-color: #ecf0f1;
	font-family: 'Roboto Slab', serif;
}
.ustbar{
	background-color: #8e44ad;
	height: 200px;
	width: auto;
	left: 0px;
	right: 0px;
	box-shadow: 0px 0px 10px 2px rgba(81,81,81,0.3);
	/*animation: ustegel 2.2s forwards;*/
}
.ortala{
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}
.sol{
	margin-left: 20px !important;
}
.sag{
	margin-right: 20px !important;
}
.resim{
	background: url("img/profile.png");
	height: 180px;
	width: 180px;
	background-size: cover;
	border-radius: 100%;
	background-color: #ecf0f1;
	position: absolute;
	margin: 10px;
	margin-left: 70px;
	box-shadow: inset 0px 0px 10px 2px rgba(81,81,81,0.7);
	float: left;
	opacity: 1;
	/*animation: baslikGel 1.4s forwards;
	animation-delay: 0.6s;*/
}
.adim{
	float: left;
	margin-left: 300px;
	margin-top: 50px;
	font-size: 40px;
	color: #fff;
	text-shadow: rgba(81, 81, 81, 0.5) 3px 2px 3px;
	font-size: 400%;
	font-family: 'Lobster', cursive;
	opacity: 1;
	/*animation: baslikGel 1.4s forwards;
	animation-delay: 0.6s;*/
}
.bosluk{
	height: 20px;
}
.kutu{
	background-color: #f5f5f5;
	width: 450px;
	margin: 5px;
	border-radius: 3px;
	padding: 20px;
	font-family: 'ABeeZee', sans-serif;
	color: rgba(0,0,0,0.5);
	float: left;
	opacity: 1;
	box-shadow: 0px 0px 10px 1px rgba(81,81,81,0.14);
	min-height: 240px;
	/*
		animation: yavastanGel 2s forwards;
		animation-delay: 0.7s;
	*/
}
.ara{
	margin-top:5px;
}
h1{
	font-family: 'Roboto Slab', serif;
	margin:0px;
	padding: 0px;
	font-size: 26px;
	color: #4f5c5d;
}
h5{
	font-family: 'Roboto Slab', serif;
	margin:0px;
	padding: 0px;
	font-size: 15px;
	color: rgba(79, 92, 93, 0.3);
}
a{
	font-family: 'ABeeZee', sans-serif;
	color: rgb(79,92,93);
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	color: #8e44ad;
}
h5 a{
	color: rgba(79, 92, 93, 0.3);
}
h5 a:hover{
	color: #8e44ad;
}
.ara a{
	font-family: 'ABeeZee', sans-serif;
	color: rgba(0,0,0,0.5);
}
.ara a:hover{
	color: #8e44ad;
}
.bosx{
	height: 5px;
	width: 10px;
}
progress {
	width: 300px;
	border-radius: 2px;
}
progress::-webkit-progress-bar {
	background-color: #dedede;
	border-radius: 4px;
}
progress::-webkit-progress-value {
	background-color: #8e44ad;
	border-radius: 4px;
}
.dil{
	font-size: 21px;
	font-family: "Roboto Slab";
	margin-bottom: 15px;
}
hr{
	width: 250px;
	border :solid 1px #8e44ad;
	float: left;
	margin-right: 500px;
	margin-bottom: 20px;
}
@keyframes ustegel {
	0% {
		height: 1000px;
		box-shadow: 0px 0px 0px 0px #fff;
	}
	50% {
    height: 200px;
		box-shadow: 0px 0px 0px 0px #fff;
	}
	100% {
    height: 200px;
		box-shadow: 0px 0px 10px 2px rgba(81,81,81,0.7);
	}
}
@keyframes yavastanGel {
  0% {
    opacity: 0;
		box-shadow: 0px 0px 0px 0px #fff;
  }
	50% {
    opacity: 1;
		box-shadow: 0px 0px 0px 0px #fff;
	}
  100% {
		box-shadow: 0px 0px 10px 0px rgba(81,81,81,0.2);
    opacity: 1;
  }
}
@keyframes baslikGel {
	0% {
		opacity: 0;
  }
	100% {
		opacity: 1;
}
